---
import { type Section } from "course-kit";
import StupidCourse from "../component/TestComp";
import test from "../test.json";
import './index.css';

const lessons = test.lessons as Section[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <StupidCourse lessons={lessons} client:only="react" />
  </body>
</html>
