---
import { Course, type Section } from "course-kit";
import test from "../../public/test.json";
import BaseLayout from "../layouts/BaseLayout.astro";

const id = parseInt(test.id);
const lessons = test.lessons as Section[];
---

<BaseLayout>
  <div class="w-screen h-screen">
    <Course id={id} lessons={lessons} canExit={false} client:only="react" />
  </div>
</BaseLayout>
