@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .size-default {
    @apply coursekit-h-10 coursekit-px-4 coursekit-py-2;
  }

  .each-button {
    @apply coursekit-inline-flex coursekit-items-center coursekit-justify-center coursekit-whitespace-nowrap coursekit-rounded-md coursekit-text-sm coursekit-font-medium coursekit-ring-offset-white coursekit-transition-colors focus-visible:coursekit-outline-none focus-visible:coursekit-ring-2 focus-visible:coursekit-ring-neutral-950 focus-visible:coursekit-ring-offset-2 disabled:coursekit-pointer-events-none disabled:coursekit-opacity-50 dark:coursekit-ring-offset-neutral-950 dark:focus-visible:coursekit-ring-neutral-300;
  }

  .btn-ghost {
    @apply coursekit-inline-flex coursekit-items-center coursekit-justify-center each-button hover:coursekit-bg-neutral-100 hover:coursekit-text-neutral-900 dark:hover:coursekit-bg-neutral-800 dark:hover:coursekit-text-neutral-50 size-default;
  }

  .btn-default {
    @apply each-button coursekit-bg-neutral-900 coursekit-text-neutral-50 hover:coursekit-bg-neutral-900/90 dark:coursekit-bg-neutral-50 dark:coursekit-text-neutral-900 dark:hover:coursekit-bg-neutral-50/90 size-default;
  }

  .btn-icon {
    @apply coursekit-w-full coursekit-h-full coursekit-flex coursekit-items-center coursekit-justify-center active:coursekit-scale-75 coursekit-transition-transform;
  }
}

body{
  @apply coursekit-text-lg;
}

b {
  @apply coursekit-font-bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply coursekit-leading-tight coursekit-font-bold coursekit-pb-8;
}
h1 {
  @apply coursekit-text-5xl coursekit-pt-16;
}
h2 {
  @apply coursekit-text-4xl coursekit-pt-8;
}
h3 {
  @apply coursekit-text-2xl coursekit-pt-4;
}
h4 {
  @apply coursekit-text-xl coursekit-pt-2;
}
h5 {
  @apply coursekit-text-lg;
}
strong,
.prose p {
  @apply coursekit-mb-2;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  @apply coursekit-bg-gray-200 dark:coursekit-bg-gray-700 coursekit-px-2 coursekit-py-1 coursekit-rounded-md;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
  margin: 1.5em 0;
}
pre code {
  @apply coursekit-bg-transparent dark:coursekit-bg-transparent coursekit-pl-0;
}
blockquote {
  @apply coursekit-border-l-4 coursekit-border-black dark:coursekit-border-white coursekit-pl-4;
}
hr {
  @apply coursekit-border-none coursekit-border-t coursekit-border-gray-200;
}


.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.content-section p {
  @apply coursekit-leading-7 coursekit-pb-6;
}

.content-section a {
  @apply coursekit-text-blue-500;
}

.content-section ul {
  @apply coursekit-list-disc coursekit-list-inside coursekit-pb-6 coursekit-ml-2; 
}

.content-section ul ul{
  @apply coursekit-ml-6 coursekit-pb-0 coursekit-mb-0; 
}

.content-section ol {
  @apply coursekit-list-decimal coursekit-list-inside coursekit-pb-6 coursekit-ml-2;
}

.content-section ol ol{
  @apply coursekit-ml-6 coursekit-pb-0 coursekit-mb-0; 
}

.content-section pre {
  @apply coursekit-bg-gray-100 dark:coursekit-bg-gray-800 coursekit-rounded-md coursekit-p-4 coursekit-overflow-auto;
}

.content-section blockquote {
  @apply coursekit-bg-gray-100 dark:coursekit-bg-gray-800 coursekit-my-4 coursekit-p-4;
}

.content-section code {
  @apply coursekit-text-sm;
}

.content-section ul {
  @apply coursekit-mb-4;
}

.content-section img {
  @apply coursekit-rounded-md coursekit-shadow coursekit-max-h-[400px]  ;
}
